@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Ethiopic:wght@300&display=swap');

*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

body{ 
    background-color: antiquewhite;
    font-family: 'Noto Sans Ethiopic', sans-serif;
    font-size: 20px;
}

header{
    width: 100%;
    display:flex;
    justify-content:space-around;
}

.logo {
    height:210px;
    padding-left: 20px;
}

h1{
    text-align:center;
    padding:50px 50px 50px 50px;
    display:block;
    font-size:100px;
    font-family:'Great Vibes', cursive;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    padding-right: 20px;
}

nav a{
    text-decoration:none;
    color: black;
    font-size: 23px;
}

.active{
    color: darkorange;
}

footer {
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}

.footerLogo{
    width:180px;
    margin:30px;
    display:inline;
}

.redes {
    padding:20px;
    width:34%;
    display:flex;
    justify-content: space-around;
    margin-top: 5rem;
}

.redesA {
    width: 50px;
    margin: auto;
    height: 50px;
}

/* index*/

.gridContainer{
    display: grid;
    grid-template-columns: 150px auto 150px;
    grid-template-rows: auto auto auto auto auto;
}

.gridContainer header{
    grid-column: 1 / 4;
}

.gridContainer nav{
    grid-column: 1 / 4;
}

.gridContainer main{
    grid-column: 1 / 4;
}

.gridContainer article{
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
    margin: 2rem 4rem 0 4rem;
    text-align: center;
    display: block;
}

.gridContainer section{
    grid-column: 2 / 3 ;
    text-align: center;
    align-items: center;
    padding: 2rem;
    margin: 3rem;
}

.muestra{
    display: flex;
}

.gridContainer footer{
    grid-column: 1 / 4;
}

.articulosImg {
    align-content: center;
    width: 250px;
    height: 230px;
    border-radius: 30%;
    object-fit: cover;
    margin-top: 5px;
}

/* pagina 1*/

.contacto{
    display:flex;
    justify-content:space-around;
    margin:auto;
}

form{
    display: block;
    width: 340px;
    padding: 24px;
    border-radius: 10px;
    margin: 5%;
    background-color: white;
}

.input {
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.input:focus,
input:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #7a9cc6;
}

.input::placeholder {
    color: #777;
}

.input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}

button {
    display: block;
    padding: 12px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

button:hover {
    color: #e8e8e8;
}

button:hover::before {
    width: 100%;
}

.imgRelleno {
    display: flex;
}

.imgProductos{
    width: 300px;
    height: 500px;
    border: 2px white solid;
    border-radius: 20px;
    margin-top: 5rem;
}

/*pagina 2*/

.articulosDulce{
    display: grid;
    grid-template-columns: auto auto;
}

.articulosDulce img{
    width: 100%;
    height: 230px;
    border-radius: 20px;
    object-fit: cover;
}

/*pagina 3*/

.articulosSalado{
    display: grid;
    grid-template-columns: auto auto;
}

.articulosSalado img{
    width: 100%;
    height: 230px;
    border-radius: 20px;
    object-fit: cover;
}

/*pag4*/

.card{
    margin: 6rem;
    width: 85%;
    height: 354px;
    border-radius: 20px;
    background: #ddf5ff;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
}

.card-details {
    padding-top: 2rem;
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
    text-align: center;
    justify-items: center;
}

.text-body {
    color: rgb(134, 134, 134);
}
/*Text*/
.text-title {
    font-size: 1.5em;
    font-weight: bold;
}
/*Hover*/
.card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
}

.logoPago{
    width: 15rem;
}

@media only screen and (min-width:0px) and (max-width: 768px){
    .logo{
        width: 180px;
        height: 150px;
    }
    h1{
        font-size: 90px ;
    }
    h2{
        font-size: 45px;
    }
    .gridContainer{
        grid-template-columns: 50% 50% ;
        grid-template-rows: 300px auto auto auto auto;
    }
    .muestra{
        display:inline;
    }
    nav{
        width: 100%;
        display: block;
    }
    nav ul li{
    margin: 0;
    }
    nav ul li a{
    padding: 0%;
    display: block;
    font-size: 19px;
    }
    .articulosDulce{
        grid-template-columns: 50% ;
        grid-template-rows: auto auto auto auto;
        justify-content: center;
    }
}

@media only screen and (min-width:768px) and (max-width: 1024px){
    nav{
        justify-content: center;
    }
    nav ul li a {
        padding: 0%;
        font-size: 27px;
        display: block;
    }
    h1{
        font-size: 95px;
        text-align: center;
    }
    article h2 {
        font-size: 50px;
    }
    section h3{
        font-size: 28px;
    }
    section p{
        font-size: 24px;
    }
    .cardDulce h2{
    font-size: 32px;
    }
}